<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Sytem process management -->
  <arg name="threads"               default="32"/>
  <arg name="start_manager"         default="true"/>
  <arg name="nodelet_manager"       default="gear"/>
  <arg name="start_indiv_manager"   default="true"  unless="$(arg start_manager)"/>
  <arg name="start_indiv_manager"   default="false" if="$(arg start_manager)"/>
  <arg name="use_sim_time"          default="false"/>

  <!-- Parameters to control sensors -->
  <arg name="enable_kinect1"        default="true"/>
  <arg name="enable_kinect2"        default="true"/>
  <arg name="enable_kinect3"        default="true"/>
  <arg name="enable_kinect4"        default="true"/>
  <arg name="enable_kinect5"        default="true"/>
  <arg name="enable_kinect1_depth"  default="true"/>
  <arg name="enable_kinect2_depth"  default="true"/>
  <arg name="enable_kinect3_depth"  default="true"/>
  <arg name="enable_kinect4_depth"  default="false"/>
  <arg name="enable_kinect5_depth"  default="false"/>
  <arg name="enable_pointgrey1"     default="false"/>
  <arg name="enable_pointgrey2"     default="false"/>
  <arg name="enable_audio"          default="true"/>
  <arg name="enable_loggers"        default="true"/>
  <arg name="enable_diagnostics"    default="true"/>
  <arg name="enable_tf"    	        default="true"/>
  <arg name="enable_trackers"       default="true"/>

  <!-- Parameters -->
  <arg name="frame_rate"            default="15"/>
  <arg name="do_pointcloud"         default="true"/>
  <arg name="synchronize"           default="true"/> 
  
  <!-- Session wide arguments -->
  <arg name="subject_id"            default="x"/>
  <arg name="session_id"            default="session_1"/>
  <arg name="activity_id"           default="act"/>
  <arg name="condition_id"          default="in"/>
  <arg name="trial_id"              default="1"/>
  <arg name="data_dir"              default="/mnt/md0/gear_data"/>  
  
  <!-- Setting session wide parameters -->
  <param name="subject_id"          value="$(arg subject_id)"/>
  <param name="session_id"          value="$(arg session_id)"/>
  <param name="activity_id"         value="$(arg activity_id)"/>
  <param name="condition_id"        value="$(arg condition_id)"/>
  <param name="trial_id"            value="$(arg trial_id)"/>  

  <!-- Launch playback -->
  <include file="$(find gear_data_handler)/launch/playback.launch" if="$(arg use_sim_time)"/>
  
  <!-- Exclude some nodes while playback -->
  <group unless="$(arg use_sim_time)">
    
    <!-- Launch kinects -->
    <include file="$(find gear_launch)/launch/kinect_gear.launch">        
      <arg name="enable_kinect1"      value="$(arg enable_kinect1)"/>
      <arg name="enable_kinect2"      value="$(arg enable_kinect2)"/>
      <arg name="enable_kinect3"      value="$(arg enable_kinect3)"/>
      <arg name="enable_kinect4"      value="$(arg enable_kinect4)"/>
      <arg name="enable_kinect5"      value="$(arg enable_kinect5)"/>
      <arg name="frame_rate"          value="$(arg frame_rate)"/>
      <arg name="start_manager"       value="$(arg start_indiv_manager)"/>
      <arg name="nodelet_manager"     value="$(arg nodelet_manager)"/>
      <arg name="do_pointcloud"       value="$(arg do_pointcloud)"/>
    </include>

    <!-- Launch pointgreys -->
    <include file="$(find gear_launch)/launch/pointgrey_gear.launch">        
      <arg name="enable_pointgrey1"   value="$(arg enable_pointgrey1)"/>
      <arg name="enable_pointgrey2"   value="$(arg enable_pointgrey2)"/>
      <arg name="frame_rate"          value="$(arg frame_rate)"/>
      <arg name="start_manager"       value="$(arg start_indiv_manager)"/>
      <arg name="nodelet_manager"     value="$(arg nodelet_manager)"/>
    </include>

    <!-- Launch loggers -->
    <include file="$(find gear_launch)/launch/logger_gear.launch" if="$(arg enable_loggers)">
      <arg name="start_manager"         value="$(arg start_indiv_manager)"/>
      <arg name="nodelet_manager"       value="$(arg nodelet_manager)"/>
      <arg name="synchronize"           value="$(arg synchronize)"/>
      <arg name="data_dir"              value="$(arg data_dir)"/>
      <arg name="enable_kinect1"        value="$(arg enable_kinect1)"/>
      <arg name="enable_kinect2"        value="$(arg enable_kinect2)"/>
      <arg name="enable_kinect3"        value="$(arg enable_kinect3)"/>
      <arg name="enable_kinect4"        value="$(arg enable_kinect4)"/>
      <arg name="enable_kinect5"        value="$(arg enable_kinect5)"/>
      <arg name="enable_kinect1_depth"  value="$(arg enable_kinect1_depth)"/>
      <arg name="enable_kinect2_depth"  value="$(arg enable_kinect2_depth)"/>
      <arg name="enable_kinect3_depth"  value="$(arg enable_kinect3_depth)"/>
      <arg name="enable_kinect4_depth"  value="$(arg enable_kinect4_depth)"/>
      <arg name="enable_kinect5_depth"  value="$(arg enable_kinect5_depth)"/>
      <arg name="enable_pointgrey1"     value="$(arg enable_pointgrey1)"/>
      <arg name="enable_pointgrey2"     value="$(arg enable_pointgrey2)"/>
      <arg name="enable_audio"          value="$(arg enable_audio)"/>
      <arg name="enable_trackers"       value="$(arg enable_trackers)"/>    
    </include>

    <!-- Launch Audio -->
    <include file="$(find gear_launch)/launch/audio_gear.launch" if="$(arg enable_audio)">
      <arg name="use_sim_time"        value="$(arg use_sim_time)"/>
    </include>
  </group>

  <!-- Exclude some loggers while playback -->
  <group if="$(arg use_sim_time)">
    <!-- Launch loggers -->
    <include file="$(find gear_launch)/launch/logger_gear.launch" if="$(arg enable_loggers)">
      <arg name="start_manager"         value="$(arg start_indiv_manager)"/>
      <arg name="nodelet_manager"       value="$(arg nodelet_manager)"/>
      <arg name="synchronize"           value="false"/>
      <arg name="data_dir"              value="$(arg data_dir)"/>
      <arg name="enable_kinect1"        value="false"/>
      <arg name="enable_kinect2"        value="false"/>
      <arg name="enable_kinect3"        value="false"/>
      <arg name="enable_kinect4"        value="false"/>
      <arg name="enable_kinect5"        value="false"/>
      <arg name="enable_kinect1_depth"  value="false"/>
      <arg name="enable_kinect2_depth"  value="false"/>
      <arg name="enable_kinect3_depth"  value="false"/>
      <arg name="enable_kinect4_depth"  value="false"/>
      <arg name="enable_kinect5_depth"  value="false"/>
      <arg name="enable_pointgrey1"     value="false"/>
      <arg name="enable_pointgrey2"     value="false"/>
      <arg name="enable_audio"          value="false"/>
      <arg name="enable_trackers"       value="$(arg enable_trackers)"/>    
      <arg name="use_sim_time"          value="$(arg use_sim_time)"/>
    </include>  
  </group>
  
  <!-- Launch diagnostics -->
  <include file="$(find gear_diagnostics)/launch/diagnostics.launch" if="$(arg enable_diagnostics)">
    <arg name="use_sim_time"          value="$(arg use_sim_time)"/>
  </include>

  <!-- Launch trackers -->
  <include file="$(find gear_launch)/launch/tracker_gear.launch" if="$(arg enable_trackers)">
    <arg name="start_manager"         value="$(arg start_indiv_manager)"/>
    <arg name="nodelet_manager"       value="$(arg nodelet_manager)"/>
    <arg name="use_sim_time"          value="$(arg use_sim_time)"/>
    <arg name="enable_kinect1"        value="$(arg enable_kinect1)"/>
    <arg name="enable_kinect2"        value="$(arg enable_kinect2)"/>
    <arg name="enable_kinect3"        value="$(arg enable_kinect3)"/>
    <arg name="enable_kinect4"        value="$(arg enable_kinect4)"/>
    <arg name="enable_kinect5"        value="$(arg enable_kinect5)"/>
    <arg name="use_sim_time"          value="$(arg use_sim_time)"/>
  </include> 

  <!-- Launch TF -->
  <include file="$(find gear_tf)/launch/tf_broadcaster.launch" if="$(arg enable_tf)">
    <arg name="playback_mode"         value="true" if="$(arg use_sim_time)"/>
    <arg name="use_sim_time"          value="$(arg use_sim_time)"/>
  </include>  

  <!-- Launch nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)"  
          args="manager" output="screen" if="$(arg start_manager)">
    <param name="num_worker_threads"  value="$(arg threads)"/>
    <param name="use_sim_time"        value="$(arg use_sim_time)"/>
  </node>

</launch>
