<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--Common parameters-->
  <arg name="frame_rate"        default="15"/>
  <arg name="do_pointcloud"     default="true"/>
  <arg name="do_acquisition"    default="true"/>
  <arg name="start_manager"     default="true"/>
  <arg name="nodelet_manager"   default="gear"/>

  <!-- Parameters to enable sensors -->
  <arg name="enable_kinect1"    default="true"/>
  <arg name="enable_kinect2"    default="true"/>
  <arg name="enable_kinect3"    default="true"/>

  <!--kinect1 parameters-->
  <arg name="k1_base_name"      value="k1"/>
  <arg name="k1_sensor"         value="308780235147"/>


  <!--kinect2 parameters-->
  <arg name="k2_base_name"      value="k2"/>
  <arg name="k2_sensor"         value="024208544747"/>

  <!--kinect3 parameters-->
  <arg name="k3_base_name"      value="k3"/>
  <arg name="k3_sensor"         value="025872444747"/>
    
  <!--kinect1-->
  <include file="$(find gear_launch)/launch/kinect.launch" if="$(arg enable_kinect1)">        
    <arg name="base_name"       value="$(arg k1_base_name)"/>
    <arg name="sensor"          value="$(arg k1_sensor)"/>
    <arg name="fps_limit"       value="$(arg frame_rate)"/>
    <arg name="do_pointcloud"   value="$(arg do_pointcloud)"/>
    <arg name="do_acquisition"  value="$(arg do_acquisition)"/>
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
  </include>

  <!--kinect2-->
  <include file="$(find gear_launch)/launch/kinect.launch" if="$(arg enable_kinect2)">
    <arg name="base_name"       value="$(arg k2_base_name)"/>
    <arg name="sensor"          value="$(arg k2_sensor)"/>
    <arg name="fps_limit"       value="$(arg frame_rate)"/>
    <arg name="do_pointcloud"   value="$(arg do_pointcloud)"/>
    <arg name="do_acquisition"  value="$(arg do_acquisition)"/>
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
 </include>

  <!--kinect3-->
  <include file="$(find gear_launch)/launch/kinect.launch" if="$(arg enable_kinect3)">
    <arg name="base_name"       value="$(arg k3_base_name)"/>
    <arg name="sensor"          value="$(arg k3_sensor)"/>
    <arg name="fps_limit"       value="$(arg frame_rate)"/>
    <arg name="do_pointcloud"   value="$(arg do_pointcloud)"/>
    <arg name="do_acquisition"  value="$(arg do_acquisition)"/>
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
  </include>
</launch>

