<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Common parameters-->
  <arg name="data_dir"          default="/mnt/md0/gear_data"/>
  <arg name="start_manager"     default="true"/>
  <arg name="nodelet_manager"   default="gear_logger"/>
  <arg name="synchronize"       default="true"/>
  <arg name="pointcloud_def"    default="sd"/>
  <arg name="color_def"         default="hd"/>
  <arg name="depth_def"         default="sd"/>
  <arg name="color_extn"        default=".jpg"/>
  <arg name="depth_extn"        default=".png"/>  
  <arg name="do_pointcloud"     default="true"/>  

  <!-- Parameters to control sensor -->
  <arg name="enable_kinect1"    default="true"/>
  <arg name="enable_kinect2"    default="true"/>
  <arg name="enable_kinect3"    default="true"/>
  <arg name="enable_pointgrey1" default="true"/>
  <arg name="enable_pointgrey2" default="true"/>

  <!-- Synchronizer -->
  <include file="$(find gear_data_handler)/launch/synchronizer.launch" if="$(arg synchronize)">
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="pointcloud_def"  default="$(arg pointcloud_def)"/>
    <arg name="color_def"       default="$(arg color_def)"/>
    <arg name="depth_def"       default="$(arg depth_def)"/>
  </include>  

  <!-- Calibration logger-->
  <include file="$(find gear_data_handler)/launch/calibration_logger.launch"/>
 
  <!-- Tracking logger-->
  <include file="$(find gear_data_handler)/launch/tracking_logger.launch">
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
  </include>

  <!--kinect1 color-->
  <include file="$(find gear_data_handler)/launch/image_logger.launch" if="$(arg enable_kinect1)">
    <arg name="base_name"       value="k1"/>
    <arg name="image_type"      value="color"/>
    <arg name="image_def"       value="$(arg color_def)"/>      
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="use_sync"        value="$(arg synchronize)"/>
    <arg name="image_extn"      value="$(arg color_extn)"/>
  </include>

  <!--kinect2 color-->
  <include file="$(find gear_data_handler)/launch/image_logger.launch" if="$(arg enable_kinect2)">
    <arg name="base_name"       value="k2"/>
    <arg name="image_type"      value="color"/>
    <arg name="image_def"       value="$(arg color_def)"/>      
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="use_sync"        value="$(arg synchronize)"/>
    <arg name="image_extn"      value="$(arg color_extn)"/>
  </include>

  <!--kinect3 color-->
  <include file="$(find gear_data_handler)/launch/image_logger.launch" if="$(arg enable_kinect3)">
    <arg name="base_name"       value="k3"/>
    <arg name="image_type"      value="color"/>
    <arg name="image_def"       value="$(arg color_def)"/>      
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="use_sync"        value="$(arg synchronize)"/>
    <arg name="image_extn"      value="$(arg color_extn)"/>
  </include>

  <!--pointgrey1 color-->
  <include file="$(find gear_data_handler)/launch/image_logger.launch" if="$(arg enable_pointgrey1)">
    <arg name="base_name"       value="p1"/>
    <arg name="image_type"      value="color"/>
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="use_sync"        value="$(arg synchronize)"/>
    <arg name="image_extn"      value="$(arg color_extn)"/>
  </include>

  <!--pointgrey2 color-->
  <include file="$(find gear_data_handler)/launch/image_logger.launch" if="$(arg enable_pointgrey2)">
    <arg name="base_name"       value="p2"/>
    <arg name="image_type"      value="color"/>
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="use_sync"        value="$(arg synchronize)"/>
    <arg name="image_extn"      value="$(arg color_extn)"/>
  </include>

  <!--kinect1 depth-->
  <include file="$(find gear_data_handler)/launch/image_logger.launch" if="$(arg enable_kinect1)">
    <arg name="base_name"       value="k1"/>
    <arg name="image_type"      value="depth"/>
    <arg name="image_def"       value="$(arg depth_def)"/>      
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="use_sync"        value="$(arg synchronize)"/>
    <arg name="image_extn"      value="$(arg depth_extn)"/>
  </include>

  <!--kinect2 depth-->
  <include file="$(find gear_data_handler)/launch/image_logger.launch" if="$(arg enable_kinect2)">
    <arg name="base_name"       value="k2"/>
    <arg name="image_type"      value="depth"/>
    <arg name="image_def"       value="$(arg depth_def)"/>      
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="use_sync"        value="$(arg synchronize)"/>
    <arg name="image_extn"      value="$(arg depth_extn)"/>
  </include>

  <!--kinect3 depth-->
  <include file="$(find gear_data_handler)/launch/image_logger.launch" if="$(arg enable_kinect3)">
    <arg name="base_name"       value="k3"/>
    <arg name="image_type"      value="depth"/>
    <arg name="image_def"       value="$(arg depth_def)"/>      
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="use_sync"        value="$(arg synchronize)"/>
    <arg name="image_extn"      value="$(arg depth_extn)"/>
  </include>

  <!-- Point cloud loggers -->
  <group if="$(arg do_pointcloud)">
    <!--kinect1 pointcloud-->
    <include file="$(find gear_data_handler)/launch/pointcloud_logger.launch" if="$(arg enable_kinect1)">
      <arg name="base_name"       value="k1"/>
      <arg name="image_def"       value="$(arg pointcloud_def)"/>      
      <arg name="start_manager"   value="$(arg start_manager)"/>
      <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    </include>

    <!--kinect2 pointcloud-->
    <include file="$(find gear_data_handler)/launch/pointcloud_logger.launch" if="$(arg enable_kinect2)">
      <arg name="base_name"       value="k2"/>
      <arg name="image_def"       value="$(arg pointcloud_def)"/>      
      <arg name="start_manager"   value="$(arg start_manager)"/>
      <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    </include>

    <!--kinect3 pointcloud-->
    <include file="$(find gear_data_handler)/launch/pointcloud_logger.launch" if="$(arg enable_kinect3)">
      <arg name="base_name"       value="k3"/>
      <arg name="image_def"       value="$(arg pointcloud_def)"/>      
      <arg name="start_manager"   value="$(arg start_manager)"/>
      <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    </include>
  </group>
</launch>
  