<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="image_def"         default="hd"/>
  <arg name="marker_size"       default="4.4" />

  <!--kinect1 -->
  <include file="$(find gear_launch)/launch/ar_tag_tracker.launch">
    <arg name="base_name"       value="k1"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="marker_size"     value="$(arg marker_size)" />
  </include>

  <!--kinect2 -->
  <include file="$(find gear_launch)/launch/ar_tag_tracker.launch">
    <arg name="base_name"       value="k2"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="marker_size"     value="$(arg marker_size)" />
  </include>

  <!--kinect3 -->
  <include file="$(find gear_launch)/launch/ar_tag_tracker.launch">
    <arg name="base_name"       value="k3"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="marker_size"     value="$(arg marker_size)" />
  </include>

  <!--pointgrey1 -->
  <include file="$(find gear_launch)/launch/ar_tag_tracker.launch">
    <arg name="base_name"       value="p1"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="marker_size"     value="$(arg marker_size)" />
  </include>

  <!--pointgrey2 -->
  <include file="$(find gear_launch)/launch/ar_tag_tracker.launch">
    <arg name="base_name"       value="p2"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="marker_size"     value="$(arg marker_size)" />
  </include>
</launch>