<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="image_def"             default="hd"/>
  <arg name="base_name"             default="k1"/>
  <arg name="tag_type"              default="ar"/>
  <arg name="topic_name"            default="image_color"/>
  <arg name="start_manager"         default="true"/>
  <arg name="nodelet_manager"       default="gear_tracker"/>
  <arg name="use_sim_time"          default="false"/>

  <!--kinect1 -->
  <include file="$(find gear_launch)/launch/$(arg tag_type)_tag_tracker.launch">
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="base_name"       value="k1"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="topic_name"      value="$(arg topic_name)"/>
    <arg name="use_sim_time"    value="$(arg use_sim_time)"/>
  </include>

  <!--kinect2 -->
  <include file="$(find gear_launch)/launch/$(arg tag_type)_tag_tracker.launch">
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="base_name"       value="k2"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="topic_name"      value="$(arg topic_name)"/>
    <arg name="use_sim_time"    value="$(arg use_sim_time)"/>
  </include>

  <!--kinect3 -->
  <include file="$(find gear_launch)/launch/$(arg tag_type)_tag_tracker.launch">
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="base_name"       value="k3"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="topic_name"      value="$(arg topic_name)"/>
    <arg name="use_sim_time"    value="$(arg use_sim_time)"/>
  </include>

  <!--pointgrey1 -->
  <include file="$(find gear_launch)/launch/$(arg tag_type)_tag_tracker.launch">
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="base_name"       value="p1"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="topic_name"      value="$(arg topic_name)"/>
    <arg name="use_sim_time"    value="$(arg use_sim_time)"/>
  </include>

  <!--pointgrey2 -->
  <include file="$(find gear_launch)/launch/$(arg tag_type)_tag_tracker.launch">
    <arg name="start_manager"   value="$(arg start_manager)"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)" unless="$(arg start_manager)"/>
    <arg name="base_name"       value="p2"/>
    <arg name="image_def"       value="$(arg image_def)"/>
    <arg name="topic_name"      value="$(arg topic_name)"/>
    <arg name="use_sim_time"    value="$(arg use_sim_time)"/>
  </include>
</launch>