<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="frame_rate"               default="15"/>
  <arg name="window_size"              default="75"/>
  <arg name="frequency_tolerance"			 default="0.1"/>
  <arg name="min_acceptable_delay"     default="0"/>
  <arg name="max_acceptable_delay"		 default="0.2"/>
  <arg name="update_interval"          default="0.1"/>
  <arg name="min_frequency"			 			 default="15"/>
  <arg name="max_frequency"			 			 default="15"/>
  <arg name="mount_point"              default="/mnt/md0"/>
  <arg name="slow_update_interval"     default="5"/>
  <arg name="low_free_space"			 		 default="500"/>
  <arg name="critical_free_space"			 default="100"/>

  <!-- Image logger diagnostics -->
  <include file="$(find gear_diagnostics)/launch/diagnostics_image_logger.launch"> 
	  <arg name="frame_rate"             value="$(arg frame_rate)"/>
	  <arg name="window_size"            value="$(arg window_size)"/>
	  <arg name="frequency_tolerance"		 value="$(arg frequency_tolerance)"/>
	  <arg name="min_acceptable_delay"   value="$(arg min_acceptable_delay)"/>
	  <arg name="max_acceptable_delay"	 value="$(arg max_acceptable_delay)"/>
	  <arg name="update_interval"        value="$(arg update_interval)"/>
	  <arg name="min_frequency"			 		 value="$(arg min_frequency)"/>
	  <arg name="max_frequency"			 		 value="$(arg max_frequency)"/>
  </include>       

  <!-- Disk diagnostics -->
  <include file="$(find gear_diagnostics)/launch/diagnostics_disk.launch"> 
	  <arg name="mount_point"            value="$(arg mount_point)"/>
	  <arg name="update_interval"     	 value="$(arg slow_update_interval)"/>
	  <arg name="low_free_space"			 	 value="$(arg low_free_space)"/>
	  <arg name="critical_free_space"		 value="$(arg critical_free_space)"/>
  </include>       

	<!-- Dignostics aggregator -->
	<node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostics_aggregator" output="screen">
	  <rosparam command="load" file="$(find gear_diagnostics)/config/gear_analyzers.yaml" />
	</node>
	</launch>