<library path="src">
  <class name="ImageCaptureGUI" type="gear_image_capture.image_capture.ImageCaptureGUI" base_class_type="rqt_gui_py::Plugin">
    <description>
      Rqt plugin for starting and stopping image capture.
    </description>
    <qtgui>
      <group>
        <label>GEAR</label>
        <icon type="theme">applications-system</icon>
        <statustip>GEAR project plugins</statustip>
	  </group>
      <label>control panel</label>
      <icon type="theme">media-playback-start</icon>
      <statustip>GEAR image capture</statustip>
    </qtgui>
  </class>
</library>