<library path="src">
  <class name="SessionDurationGUI" type="gear_session_duration.session_duration.SessionDurationGUI" base_class_type="rqt_gui_py::Plugin">
    <description>
      Rqt plugin to show session duration times.
    </description>
    <qtgui>
      <group>
        <label>GEAR</label>
        <icon type="theme">applications-system</icon>
        <statustip>GEAR project plugins</statustip>
	  </group>
      <label>Timer</label>
      <icon type="theme">gnome-session-suspend</icon>
      <statustip>GEAR session duration</statustip>
    </qtgui>
  </class>
</library>