<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="tf_file"     			default="camera_poses.yaml"/>  
  <arg name="tf_dir"     				default="$(find gear_launch)/calibration/"/>  
  <arg name="playback_mode"     default="false"/>  
 
  <node pkg="gear_tf" type="tf_broadcaster.py" name="tf_broadcaster" output="screen">
    <param name="tf_file" 			value="$(arg tf_file)"/>
    <param name="tf_dir" 			  value="$(arg tf_dir)"/>
    <param name="playback_mode" value="$(arg playback_mode)"/>
  </node>
</launch>